@model DaneshkarShop.Application.DTOs.AdminSide.User.EditUserAdminSideDTO
@{
    ViewData["Title"] = "ویرایش اطلاعات کاربران";
    List<DaneshkarShop.Domain.Entities.Role.Role> roles = ViewData["Roles"] as List<DaneshkarShop.Domain.Entities.Role.Role>;
}

<div class="content-wrapper" style="min-height: 805px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>ویرایش اطلاعات @Model.Username</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Admin">خانه</a></li>
                        <li class="breadcrumb-item active"> ویرایش کاربر   </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <form asp-action="EditUser" asp-controller="Users" asp-area="Admin" method="post" enctype="multipart/form-data">

        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="UserOriginalAvatar" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-7">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">اطلاعات کاربر @Model.Username </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div role="form" asp-action="Create" asp-controller="Users" asp-area="Admin">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> نام کاربری </label>
                                        <input type="text" asp-for="Username" class="form-control" id="exampleInputEmail1" placeholder="نام کاربری  را وارد کنید">
                                        <span asp-validation-for="Username" class="text-danger"></span>

                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> شماره تلفن   </label>
                                        <input type="text" asp-for="Mobile" class="form-control" id="exampleInputEmail1" placeholder="شماره تلفن  را وارد کنید">
                                        <span asp-validation-for="Mobile" class="text-danger"></span>

                                    </div>



                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success">تایید </button>
                                    <a asp-action="Index" asp-controller="Users" asp-area="Admin" class="btn btn-primary">بازگشت به عقب </a>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-5">
                        <div class="row">
                        <!-- Horizontal Form -->
                            <div class="card card-primary col-md-12">
                            <div class="card-header">
                                <h3 class="card-title"> تصویر </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="form-horizontal">
                                <div class="card-body row">
                                    @if (string.IsNullOrEmpty(Model.UserOriginalAvatar))
                                    {
                                        <img style="margin: auto; width: 342px" id="imgAvatar" class="img-responsive rounded" src="/Images/UserAvatar/Defult.jpg" alt="upload_img">
                                    }
                                    else
                                    {
                                        <img style="margin: auto; width: 342px" id="imgAvatar" class="img-responsive rounded" src="/Images/UserAvatar/@Model.UserOriginalAvatar" alt="upload_img">

                                    }
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" asp-for="UserAvatar">
                                            <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <!-- /.card-footer -->
                            </div>
                        </div>
                            <div class="card card-warning col-md-12">
                            <div class="card-header">
                                <h3 class="card-title"> نقش ها </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <div class="form-check">
                                        @if (roles != null && roles.Any())
                                        {
                                            foreach (var role in roles)
                                            {
                                                <br/>
                                                @if (Model.CurrentUserRolesId.Any(roleId => roleId == role.Id))
                                                {
                                                    <input class="form-check-input" type="checkbox" name="selectedRoles" value="@role.Id" checked/>
                                                    <label class="form-check-label" style="margin-right: 20px">@role.RoleUniqueName</label>
                                                }
                                                else
                                                {
                                                    <input class="form-check-input" type="checkbox" name="selectedRoles" value="@role.Id"/>
                                                    <label class="form-check-label" style="margin-right: 20px">@role.RoleUniqueName</label>
                                                }
                                            }
                                        }
                                    </div>



                                </div> <!-- /.card-footer -->
                            </div>
                        </div>

                        </div>
                    </div>
                    
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    </form>


</div>

@section Scripts
{
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#UserAvatar").change(function () {
            readURL(this);
        });
    </script>
}